.App{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #2f2f2f;
  border-radius: 1rem;
  flex-direction: column;
}
.description{
  display: flex;
  background-color: gray;
  width: 70%;
  height: auto;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.functionality{
  display: flex;
  flex-direction: column;
}

button, input{
  font-size: 1.2rem;
  margin: .2rem;
  padding: .4rem 1.5rem;
  border-radius: 0.5rem;
}